.box{
    width : 500px;
    margin: 50px auto;
    border-top: 1px solid black;
    text-align: center;
}
.page-title{
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif'
}
.welcome{
    font-size: 15px;
    font-weight: bold;
}
.form-input{
    margin: 5px auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    height: 30px;
}
.btn{
    margin: 10px auto;
    padding:10px 20px 25px 20px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 50px;
}
.signup-wrapper{
    font-size: 14px;
}
.signup{
    color: rgb(87, 83, 83) !important;
    text-decoration: underline;
    margin-bottom: 0;
}
.member{
    margin-bottom: 0;
    color: gray;
}
.forgot{
    margin-top: 5px;
    color:  rgb(87, 83, 83) !important;
    text-decoration: underline;
}
.terms{
    font-size: 14px;
    color: lightgray;
}